<div *ngIf="offer$ | async as offer; else loading">
    <div class="offer">
        <div class="header right">
            <button routerLink="/product/{{offer.parentId}}" class="btn btn-dark">Назад</button>
        </div>

        <div class="flex">
            <div class="item text-center">
                <h2>{{ offer.title}}</h2>

                <div class="flex-center">
                    <img height="300"
                        src="{{uploadUrl+ 'users/'+ offer.userId + '/items/' + offer.imagesList[0]?.path+'/'+offer.imagesList[0]?.filename}}"
                        alt="{{offer.imagesList[0]?.filename}}">
                </div>

                <div>
                    <h2>Цена: {{offer.price}} {{offer.currency.shortName}}</h2>

                    <button class="btn btn-dark" [routerLink]="['/cart']" (click)="addProduct(offer)">Add to
                        cart</button>
                </div>
            </div>

            <div class="item">
                <h2>Information:</h2>

                <div>
                    <quill-view-html [content]="offer.description"></quill-view-html>
                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <p class="text-center">Loading...</p>
</ng-template>