<div class="forgot-page">
  <div class="content">
    <form class="forgot-form" #myForm="ngForm" (ngSubmit)="onForgot()">
      <div class="text-center">
        <h2 class="app-name">Material Admin</h2>
      </div>
      <div class="forgot-fields">
        <mat-form-field>
          <input matInput placeholder="Email">
        </mat-form-field>
      </div>
      <div>
        <div class="forgot-fields">
          <button type="submit" mat-raised-button color="primary" class="w-100">Restore</button>
          <button type="button" mat-button color="primary" class="w-100" routerLink="/login">Log In</button>
        </div>
      </div>
    </form>
  </div>
</div>