<div class="layout-container" style="padding-top: 64px;">
  <mat-toolbar color="primary" class="fix-nav">
    <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div class="nav-brand">
      <a href="#" [routerLink]="['/admin']" class="nav-link">Material Admin</a>
    </div>
    <span class="nav-spacer"></span>
    <form class="hidden-sm" style="margin-right: 20px; margin-top: 8px">
      <mat-form-field style="font-size: 1rem;">
        <input matInput placeholder="Search">
      </mat-form-field>
    </form>
    <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="profile">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #profile="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>{{user?.fullname}}</span>
      </button>
      <button mat-menu-item>
        <mat-icon>inbox</mat-icon>
        <span>Inbox</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
    </mat-menu>
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav class="sidenav mat-elevation-z10" [(mode)]="sideNavMode" [(opened)]="sideNavOpened">
      <mat-nav-list dense>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['categories']">
          <mat-icon class="sidenav-icon">folder</mat-icon>{{"Categories" | translate}}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['properties']">
          <mat-icon class="sidenav-icon">list</mat-icon>{{"Properties" | translate}}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['items']">
          <mat-icon class="sidenav-icon">assignment</mat-icon>{{"Items" | translate}}
        </a>
        <div class="nested-menu">
          <a mat-list-item (click)="showImportMenu=!showImportMenu">
            <mat-icon class="sidenav-icon">add</mat-icon>{{"Import" | translate}}
          </a>
          <ul class="nested submenu" [class.expand]="showImportMenu">
            <li>
              <a [routerLink]="['xml_import']">
                <span>XML</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span>CSV</span>
              </a>
            </li>
          </ul>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <main class="main-container">
        <router-outlet></router-outlet>
      </main>
      <footer class="page-footer">
        <div class="logo">
          <h5>Icon Credits</h5>
        </div>
        <span class="nav-spacer"></span>
        <div class="copyright">
          <span>Made By <a style='font-weight: bold;' href="https://github.com/piedcipher" target="_blank">Tirth
              Patel</a></span>
        </div>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>