<div class="register-page">
  <div class="content">
    <form class="register-form" #myForm="ngForm" [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()">
      <div class="text-center">
        <h2 class="app-name">Material Admin</h2>
      </div>
      <div class="register-fields">
        <mat-form-field>
          <input matInput formControlName="fullname" placeholder="Full name">
          <mat-error>
            <validator-message [field]="registerForm.get('fullname')" [submitted]="registerFormSubmitted"
              title="fullname">
            </validator-message>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email">
          <mat-error>
            <validator-message [field]="registerForm.get('email')" [submitted]="registerFormSubmitted" title="email">
            </validator-message>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="phone" placeholder="Phone">
          <mat-error>
            <validator-message [field]="registerForm.get('phone')" [submitted]="registerFormSubmitted" title="phone">
            </validator-message>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="password" type="password" placeholder="Password">
          <mat-error>
            <validator-message [field]="registerForm.get('password')" [submitted]="registerFormSubmitted"
              title="password">
            </validator-message>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm password">
          <mat-error>
            <validator-message [field]="registerForm.get('confirmPassword')" [submitted]="registerFormSubmitted"
              title="confirm password">
            </validator-message>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <div class="register-fields">
          <button type="submit" mat-raised-button color="primary" class="w-100">Register</button>
          <button type="button" mat-button color="primary" class="w-100" routerLink="/login">Log In</button>
        </div>
      </div>
    </form>
  </div>
</div>