<mat-card>
    <mat-card-title>{{"Import XML" | translate}}</mat-card-title>

    <mat-card-content>
        <p>Кодировка XML</p>
        <mat-radio-group [(ngModel)]="coding" ngDefaultControl>
            <mat-radio-button value="utf8">UTF-8</mat-radio-button>
            <mat-radio-button style="margin-left: 15px;" value="windows1251">Windows-1251</mat-radio-button>
        </mat-radio-group>
        <br><br>
        <app-file-input #xmlReader allowMultiple="false" (inputChange)="uploadListener($event)"
            (clearClick)="fileReset()" buttonColor="#2196f3" accept=".xml">
        </app-file-input>
    </mat-card-content>
</mat-card>