<mat-card>
  <mat-card-title>{{(parentID ? "Trading offers" : "Items") | translate}}</mat-card-title>
  <mat-card-subtitle>{{mode == "edit" ? ("Edit" | translate) : ("Add" | translate)}}
    {{(parentID ? "trading offer" : "item") | translate}}
  </mat-card-subtitle>

  <mat-card-content>
    <form novalidate #form="ngForm" [formGroup]="itemForm" (ngSubmit)="submitItemForm()">
      <div class="alert alert-{{itemMessage.type}}" *ngIf="itemMessage.text">
        {{itemMessage.text}}
      </div>

      <mat-tab-group [(selectedIndex)]="itemTabIndex" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="{{'Основные характеристики'}}">
          <br>
          <mat-form-field class="full-width">
            <input matInput formControlName="title" placeholder="{{'Title' | translate}}">
            <mat-error>
              <validator-message [field]="itemForm.get('title')" [submitted]="itemFormSubmitted" title="Title">
              </validator-message>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput formControlName="alias" placeholder="Alias">
            <mat-error>
              <validator-message [field]="itemForm.get('alias')" [submitted]="itemFormSubmitted" title="Alias">
              </validator-message>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="half-width">
            <input matInput formControlName="article" placeholder="{{'Article' | translate}}">
            <mat-error>
              <validator-message [field]="itemForm.get('article')" [submitted]="itemFormSubmitted" title="Article">
              </validator-message>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="half-width">
            <mat-label>{{'Vendor' | translate}}</mat-label>
            <mat-select formControlName="vendorId">
              <mat-option *ngFor="let vendor of vendors" [value]="vendor.id">
                {{vendor.name}}</mat-option>
            </mat-select>
            <mat-error>
              <validator-message [field]="itemForm.get('vendorId')" [submitted]="itemFormSubmitted" title="Vendor">
              </validator-message>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Описание</mat-label>
            <textarea matInput formControlName="description" rows="5"
              placeholder="{{'Description' | translate}}"></textarea>
            <mat-error>
              <validator-message [field]="itemForm.get('description')" [submitted]="itemFormSubmitted"
                title="Description">
              </validator-message>
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="third-width">
            <input matInput formControlName="price" type="number" placeholder="{{'Price' | translate}}">
            <mat-error>
              <validator-message [field]="itemForm.get('price')" [submitted]="itemFormSubmitted" title="Price">
              </validator-message>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="third-width">
            <input matInput formControlName="oldPrice" type="number" placeholder="{{'OldPrice' | translate}}">
            <mat-error>
              <validator-message [field]="itemForm.get('oldPrice')" [submitted]="itemFormSubmitted" title="OldPrice">
              </validator-message>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="third-width">
            <mat-label>{{'Currency' | translate}}</mat-label>
            <mat-select formControlName="currencyId">
              <mat-option *ngFor="let currency of currencies" [value]="currency.id">
                {{currency.name}}</mat-option>
            </mat-select>
            <mat-error>
              <validator-message [field]="itemForm.get('currencyId')" [submitted]="itemFormSubmitted"
                title="currencyIdy">
              </validator-message>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="half-width">
            <input matInput formControlName="count" type="number" placeholder="{{'Count' | translate}}">
            <mat-error>
              <validator-message [field]="itemForm.get('count')" [submitted]="itemFormSubmitted" title="Count">
              </validator-message>
            </mat-error>
          </mat-form-field>
          <mat-checkbox labelPosition="after" formControlName="inStock" (change)="changeInStock($event.checked)">
            {{"InStock" | translate}}
          </mat-checkbox>
          <br>
          <mat-checkbox labelPosition="before" formControlName="disable">{{"Disabled" | translate}}
          </mat-checkbox>
          <br><br>
          <mat-form-field>
            <input matInput formControlName="sort" type="number" placeholder="{{'Sort' | translate}}">
            <mat-error>
              <validator-message [field]="itemForm.get('sort')" [submitted]="itemFormSubmitted" title="Sort">
              </validator-message>
            </mat-error>
          </mat-form-field>
          <br><br><br>
        </mat-tab>

        <mat-tab label="{{'Images' | translate}}" *ngIf="mode == 'edit' || mode == 'draft'">
          <br>
          <div class="sort-grid" droppable [dropScope]="'item'" (onDrop)="onItemDrop($event, 'item')">
            <div *ngFor="let image of itemImages" class="upload-images"
              [ngStyle]="{backgroundImage: 'url('+uploadUrl + item.id +'/' + image?.filename+')'}" ngSortgridItem
              [ngSortGridItems]="itemImages" (sorted)="storeNewOrder($event, 'item')" ngSortGridGroup="item" draggable
              [dragData]="image" [dragScope]="'upload'">
              <i class="material-icons right-top-icon" (click)="itemImageDelete(image.id)"
                title="{{'Delete' | translate}}">highlight_off</i>
            </div>
          </div>
          <br>
          <div style="position: relative;">
            <ngx-dropzone #dropzone class="custom-dropzone" [multiple]="true" [accept]="'image/png,image/jpeg'"
              [maxFileSize]="2000000" (change)="onSelect($event)" droppable [dropScope]="'upload'"
              (onDrop)="onItemDrop($event, 'upload')">
              <div class="dropzone-inner" style="position: absolute; top: 0">
                <button mat-stroked-button type="button" class="btn btn-secondary">{{"Add" | translate}}</button>
                <div class="dropzone">
                  <div *ngFor="let image of uploadImages" class="upload-images"
                    [ngStyle]="{backgroundImage: 'url('+uploadUrl + '0/' + image?.filename+')'}" ngSortgridItem
                    [ngSortGridItems]="uploadImages" (sorted)="storeNewOrder($event, 'upload')" ngSortGridGroup="upload"
                    draggable [dragData]="image" [dragScope]="'item'">
                    <i class="material-icons right-top-icon" (click)="uploadImageDelete($event, image.id)"
                      title="{{'Delete' | translate}}">highlight_off</i>
                  </div>
                </div>
              </div>
            </ngx-dropzone>
          </div>
          <br>
        </mat-tab>

        <mat-tab label="{{'Properties' | translate}}" *ngIf="mode == 'edit' || mode == 'draft'">
          <br>
          <div class="form-group" formArrayName="properties">
            <div *ngFor="let property of properties.controls; let i = index" [formGroup]="property" [formGroupName]="i">
              <div *ngIf="!property.controls[itemProperties[i].code].controls">
                <mat-form-field>
                  <mat-select formControlName="{{itemProperties[i].code}}" placeholder="{{itemProperties[i].title}}"
                    [errorStateMatcher]="matcher" [multiple]="itemProperties[i].multiple">
                    <mat-option *ngIf="!itemProperties[i].multiple">{{"None" | translate}}</mat-option>
                    <mat-option *ngFor="let value of itemProperties[i].valuesList" [value]="value.id">
                      {{value.value}}</mat-option>
                  </mat-select>
                  <mat-error>
                    <validator-message [field]="property.controls[itemProperties[i].code]"
                      [submitted]="itemFormSubmitted" [title]="itemProperties[i].title">
                    </validator-message>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <br>
        </mat-tab>
        <mat-tab label="{{'Category' | translate}}" *ngIf="!parentID && (mode == 'edit' || mode == 'draft')">
          <br>
          <div id="categoryTree"></div>
          <br>
        </mat-tab>
        <mat-tab label="{{'Trading offers' | translate}}" *ngIf="!parentID && (mode == 'edit' || mode == 'draft')">
          <mat-card>
            <button mat-mini-fab color="accent" style="margin: 20px;"
              routerLink="/admin/items/edit/{{item.id}}/offers/create">
              <mat-icon>add</mat-icon>
            </button>

            <mat-card-content class="example-container mat-elevation-z8" style="overflow: auto;">
              <app-table [columnDefs]="columnDefs" [displayedColumns]="displayedColumns" [dataSource]="offersData"
                [length]="total" (changePageHandler)="changePage($event)" actions="actions">
              </app-table>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
      <button mat-raised-button type="submit" class="btn btn-primary" style="margin-right: 10px;">
        {{mode == "edit" ? ("Save" | translate) : ("Add" | translate)}}
      </button>
      <button mat-raised-button type="reset" class="btn btn-secondary" routerLink="/admin/items">
        {{"Cancel" | translate}}
      </button>
    </form>
  </mat-card-content>
</mat-card>